#introduction {
    text-align: center;
    font-size: 50px;
    color: rgb(230, 206, 48);
    background-color: rgb(34, 118, 186);
}

#Hobbies {
    text-align: center;
    font-size: 50px;
    color: rgb(230, 206, 48);
    background-color: rgb(34, 118, 186);
}

.Contact{
    text-align: center;
    font-size: 50px;
    color: rgb(230, 206, 48);
    background-color: rgb(34, 118, 186);
}

#text{
    text-align: center;
    align-items: center;
}

#text2{
    text-align: center;
    align-items: center;
}
#text1{
    text-align: center;
    align-items: center;
}